@using SharedObject.Extensions
@model List<SharedObject.ValueObjects.VProduct>


@foreach (var item in Model)
{
    string url = $"/chi-tiet-san-pham/{item.KeyCode}/{item.SeoTittle.ToAscii()}";
    <div class="col-md-6 col-lg-3">
        <div class="product">
            <a href="@url" class="img-prod">
                <img style="width:253px; height:202px" class="img-fluid" src="@item.Image" alt="Colorlib Template">
                <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
                <h3><a href="@url">@item.ProductName</a></h3>
                <div class="d-flex">
                    <div class="pricing">
                        <p class="price"><span>@item.Price</span></p>
                    </div>
                </div>
                <div class="bottom-area d-flex px-3">
                    <div class="m-auto d-flex">
                        <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                            <span><i class="ion-ios-menu"></i></span>
                        </a>
                        <a data-id="@item.ProductId" class="buy-now d-flex justify-content-center align-items-center mx-1">
                            <span><i id="addcart-@item.ProductId" class="ion-ios-cart"></i></span>
                        </a>
                        <a href="#" class="heart d-flex justify-content-center align-items-center ">
                            <span><i class="ion-ios-heart"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}