@using SharedObjects
@model IEnumerable<SharedObject.ValueObjects.VCategory>
@foreach (var item in Model)
{
    <tr id="tr-@item.CategoryId" class="text-center">

        <td width="10%">
            @{
                var output = DateTimeService.FormatDateTime((DateTime)item.DateCreated); }
            @output
        </td>
        <td width="15%"> @item.CategoryName</td>
        <td width="8%"><img src="@item.Image" style="width:100% ; height:85px" />   </td>
        <td width="10%">@item.SeoTittle</td>
        <td width="15%">@item.SeoDescription</td>

        <td class="text-center">
            <a class="btn default btn-xs purple update" data-toggle="modal" href="#modal-add" data-id="@item.CategoryId"> <span class="glyphicon glyphicon-edit"></span></a>
            <a class="btn default btn-xs red delete" data-id="@item.CategoryId"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}